/* .login {
    color: white;
    background: red;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
 
} */

.signup {
    width: 500px;
    color: white;
    background-color: black;
    padding: 15px;
    position: absolute;
    top:50%;
    left: 50%;
   
    transform: translate(-50%,-50%);
 
}

.head {
    color: aqua;
    border-bottom: 1px solid red;
    
}