.mcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
  transition: 0.3s;
  width: 90%;
  height: 80%;
  padding-left: 10px;
  margin: auto;
  margin-top: 10px;
  position: relative;
}

.submitBtn {
  position: absolute;
  top: 40%;
  left: 43%;
  width: 200px;
  height: 100px;
  font-size: 50px;
  background-color: lightblue;
  transition: background-color 2s;
}

.submitBtn:hover {
  background-color: blue;
}

/* .mcard:hover {
    box-shadow: 0 8px 16px 0 red;
  } */

.mcontainer {
  /* padding: 10px 16px; */
  border-style: solid;
  border-width: 2px;
  width: 80%;
  height: 500px;
  margin: auto;
}

.reviewcontainer {
  /* padding: 10px 16px; */
  border-style: solid;
  border-width: 2px;
  width: 80%;
  height: 100vh;
  margin: auto;
  overflow: scroll;
}
.reviewcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
  transition: 0.3s;
  width: 90%;
  height: 45%;
  padding-left: 10px;
  margin: auto;
  margin-top: 10px;
  position: relative;
}
.heading {
  padding: 5px 10px;
  font-size: 40px;
  border-bottom: 2px solid slateblue;
  width: 100%;
}
.quiz {
  font-size: 30px;
}

.labelMargin {
  padding-left: 10px;
  font-size: 20px;
}

.button {
  margin-left: auto;
  margin-right: 0;
  background-color: blue;
  position: absolute;
  top: 0;
}

.check {
  position: absolute;
  top: 100px;
  right: 10px;
}
@media (prefers-reduced-motion: no-preference) {
  .check {
    animation: App-logo-spin 1s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

span {
  line-height: 60px;
}

.delete {
  float: right;
  margin-right: 10px;
}

.edit {
  float: right;
}

.questionNo {
  display: flex;
  justify-content: center;
}

.singleNo {
  width: 60px;
  height: 60px;
  background-color: black;
  color: aliceblue;
  font-size: large;
  padding: 1%;
  border: 1px solid white;
  cursor: pointer;
  position: relative;
}
.singleNo_active {
  width: 60px;
  height: 60px;
  background-color: blue;
  color: aliceblue;
  font-size: large;
  padding: 1%;
  border: 1px solid white;
  cursor: pointer;
}

/* .singleNo_active::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  background-color: red;
  color: aliceblue;
  font-size: large;
  padding: 1%;
  border: 1px solid white;
  cursor: pointer;
} */
